<template>
  <div>
    <div class="container">
      <div v-if="show === true">
        <div
          class="notification"
          v-bind:class="{'is-info': this.isInfo, 'is-warning': this.isDanger}"
        >
          <button class="delete" v-on:click="closeNotification()"></button>
          {{ msg }}
        </div>
      </div>
      <hr>
      <div class="field">
        <div class="control">
          <input type="text" class="input" v-model="message" @keyup.enter="addPost()" />
        </div>
      </div>
    </div>
    <div class="columns">
      <div class="column"></div>
      <div class="column is-half">
        <div v-for="post in posts">
          <div class="card" style="margin-top:1em">
            <div class="card-content">
              <p>{{post.message}}</p>
            </div>
            <button class="button is-danger" v-on:click="deletePost(post.id)">Delete</button>
          </div>
        </div>
      </div>
      <div class="column"></div>
    </div>
  </div>
</template>

<script>
export default {
  data() {
    return {
      posts: [],
      message: "",
      msg: "",
      show: false,
      isInfo: false,
      isDanger: false
    };
  },
  mounted() {
    this.loadList();
  },
  methods: {
    loadList() {
      window.axios
        .get("api/posts")
        .then(response => {
          this.posts = response.data;
        })
        .catch(error => {
          console.log(error);
        });
    },
    addPost() {
      this.closeNotification();
      window.axios
        .post("api/posts", {
          message: this.message,
          user_id: 1
        })
        .then(response => {
          this.loadList();
          this.msg = "Created " + response.data.message;
          this.show = true;
          this.message = "";
          this.isInfo = true;
        });
    },
    deletePost(postId) {
      this.closeNotification();
      window.axios.delete("api/posts/" + postId).then(response => {
        this.loadList();
        this.msg = response.data.msg;
        this.show = true;
        this.isDanger = true;
      });
    },
    closeNotification() {
      this.msg = "";
      this.show = false;
      this.isInfo = false;
      this.isDanger = false;
    }
  }
};
</script>