<template>
  <main>
    <navbar></navbar>
    <router-view></router-view>
  </main>
</template>

<script>
import Navbar from "./Navbar";

export default {
  components: {
    'navbar': Navbar
  }
};
</script>