<template>
  <nav class="navbar" role="navigation" aria-label="main navigation">
    <div class="navbar-brand">
      <div class="navbar-item">
          <p class="title is-4">My App</p>
      </div>
    </div>
  </nav>
</template>
